/*William Bukowski was here */
/* styles.css */

/* Font Import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Global Styles */
body {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #1B1F38;
  color: #FFF;
}

.app-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px 20px;
  text-align: center;
  background-color: #FFF; /* Change to white */
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

h1 {
  margin-top: 0;
  font-size: 36px;
  color: #00ADB5;
}

input[type="text"],
button {
  display: block;
  margin: 10px auto;
  padding: 10px;
  font-size: 16px;
  border-radius: 4px;
  border: none;
  background-color: #00ADB5; /* Change to blue */
  color: #FFF; /* Change to white */
}

input[type="text"] {
  width: calc(100% - 40px); /* Adjust width to create space on each side */
}

button {
  width: calc(100% - 40px); /* Adjust width to create space on each side */
  cursor: pointer;
}

button:hover {
  background-color: #00858F; /* Change hover color to blue */
}

#weatherContainer {
  margin-top: 20px;
  padding: 20px;
  background-color: #FFF; /* Change to white */
  border-radius: 8px;
}

#weatherContainer h2 {
  margin-top: 0;
  font-size: 24px;
  color: #00ADB5;
}

#weatherContainer p {
  font-size: 18px;
  color: #00008B; /* Change to dark blue */
  font-weight: bold; /* Add font weight to make it bolder */
}

.weather-container {
  width: 60%;
  margin-right: 20px;
}

.graph-container {
  width: 40%;
  position: relative;
}

/* thermometer.css */

#thermometer {
  width: 40px;
  height: 200px;
  background-color: #fff;
  border: 2px solid #000;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  overflow: hidden;
}

.mercury {
  width: 100%;
  background-color: #ff0000;
  position: absolute;
  bottom: 0;
  transition: height 0.5s;
}

.mercury:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  border-bottom: 2px solid #000;
  border-left: 2px solid #000;
  border-right: 2px solid #000;
  transform: translateY(100%);
}

.scale {
  position: absolute;
  bottom: -20px;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.mark {
  font-size: 12px;
}
